[Unit]
Description=Chapar
After=network.target
StartLimitIntervalSec=30s
StartLimitBurst=5

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
TimeoutStartSec=5s

ExecStart={{ bin_dir }}/satrap -config {{ apadana_config_dir }}/satrap/satrap.yml

[Install]
WantedBy=multi-user.target
